<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uuzuche.lib_zxing">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:allowBackup="true">

        <activity
            android:name="com.uuzuche.lib_zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
